.container {
  display: grid;
  align-content: center;
}

.container h1 {
  text-align: center;
  color: var(--text-primary);
  font-size: var(--font-xl);
  transition: ease-in-out 0.2s;
}

p.errorMessage {
  max-width: 30rem;
  margin: 0 auto;
  background-color: var(--error-accent);
  color: var(--text-primary);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: 100%;
  display: grid;
  margin-top: 0.5rem;
  transition: ease-in-out 0.2s;
}