.container {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.container svg {
  max-height: 10rem;
  max-width: 10rem;
  height: 100%;
  width: 100%;
  fill: var(--accent);
  transition: ease-in-out 0.2s;
}